.clock {
    margin: auto;
    overflow: hidden;
    text-align: center;
    top: 20%;
    left: 40%;
    position: absolute;
}

#time {
    font-size: 100px;
    color: var(--userColor);
    opacity: 0.8;
    text-shadow: 2px 2px 8px black;
    font-family: 'Roboto', sans-serif;
}