.clock {
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    text-align: center;
}

#time {
    font-family: 'Roboto', sans-serif;
    font-size: 175px;
    color: var(--userColor);
    opacity: 0.75;
}