.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    
}